.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 74px;
    z-index: 200px;
    padding-top: 5px;
}

.sidebar-link {
    height: 110px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(230, 230, 230);
}

.sidebar-link img {
    height: 45px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 12px;
}

