.web-shop {
    margin-bottom: 20px;
    font-size: 15px;
    background-color: rgb(208, 36, 36);
    color: white;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

.buy-mona{
    cursor: pointer;
    margin-left: 5px;
}

.buy-mona:hover {
    text-decoration: underline;
}

.buttons-bottom {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 20px;
}

.subscribe-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    vertical-align: top;
    padding-top:  10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: white;
    color: rgb(43, 43, 116);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(43, 43, 116);
    border-radius: 2px;
    cursor: pointer;
    padding-top:  9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 0.15s,
    color 0.15s;
    
}

.join-button:hover {
    background-color: rgb(6, 212, 133);
    color: white;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: rgb(70, 184, 179);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}